body {
    font-size: 18px;
    background-color: antiquewhite;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.step{
    margin-top: 40px;
    padding: 10px;
    display: flex;
    background-color: white;
}

.step_text{
    width: 50%;
}

.step_title{
    font-weight: 800;
}

.step_image{
    text-align: center;
    width: 50%;
}

#step_image{
    width: 100%;
}

.ytb_link{
    text-align: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    color: brown;
}

#initialisation_projet{
    margin-bottom: 70px;
    padding: 10px;
    border: solid black;
}

#modification_code{
    margin-bottom: 70px;
    padding: 10px;
    border: solid black;
}

#utilisation_avancée{
    margin-bottom: 70px;
    padding: 10px;
    border: solid black;
}


.footer{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}